*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"arial", sans-serif;
}
section
{
    position: relative;
    width: 100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-item:center;
}
section .main
{
    width:580px;
    margin:0 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
section .main .searchBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchBox .query
{
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    outline: none;
    front-size: 16px;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 60px;
}
section .main .searchBox .icon
{
    position:absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}
section .main .searchBox .icon img
{
    max-width: 100%;
}
.searchButton
{
    margin: 0 5px;
    margin-top: 40px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

